<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertDeprecationsToExceptions="false"
	>
	<testsuites>
		<testsuite name="rest">
			<file>tests/REST_API_Test.php</file>
		</testsuite>
	</testsuites>
</phpunit>
